{% extends "title.njk" %}
{% block aside %}
<div>
    <ul>
    {% set posts = collections[tags] | postsAscending() %}
    {% for p in posts %}
    {% include "posts.njk" %}
    {% endfor %}
    </ul>
</div>
{% endblock %}