{% extends "title.njk" %}
{% block aside %}
<aside id="right">    
    <ul>
        {% set posts = collections[tags] | postsAscending() %}
        {% for p in posts %}
        {% include "posts.njk" %}
        {% endfor %}
    </ul>
</aside>
{% endblock %}