{% extends "layout.njk" %}
{% block authors %}
<ul class="authors">
{% for author in authors %}
    <li><a href="{{ '/authors/' | url }}{{ author.key | slug }}/">{{ author.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}