{% extends "title.njk" %}
{% block folder_toc %}
<h2>Inhoud</h2>
    <ul>
    {% for p in collections[tags] %}
        {% if p.url != page.url %}
       <li>
            <a href="{{ p.url | url }}">{{  p.data.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}