<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <title>{{ site.name }} | {{ title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ '/_assets/favicon.ico' | url }}">
    <link rel="manifest" href="{{ '/manifest.json' | url }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker
                .register('{{ "/service-worker.js" | url }}')
                .then(function() {
                    console.log("ServiceWorker has been registered!");
                })
                .catch(console.error);
        }
    </script>
    <style>
        {%  set css %}
            {% include '../_css/prism-one-light.css' %}
            {% include '../_css/deltion-colors.css' %}
            {% include '../_css/base.css' %}
            {% include '../_css/text.css' %}
            {% include '../_css/video.css' %}
            {% include '../_css/code.css' %}
        {% endset %}

        {{ css | cssmin | safe }}

</style>
</head>
<body>
<header>
    <div>
        <a id="logolink" href="{{ '/' | url }}"><img id="logo" class="standard" src="{{ '/_assets/deltion.svg' | url }}" alt="logo"></a>
        <nav> 
        {% for item in nav.items %}
            <a href="{{ item.url | url }}" class="nav-link" {% if item.url == page.url %}aria-current="page" data-state="active"{% endif %}>{{ item.name }}</a>
        {% endfor %}
        <a class="nav-link" href="https://github.com/DeltionICT/codebase/blob/master/{{ page.inputPath }}"><span class="material-icons">edit</span></a>
        </nav>
    </div>
</header>
<main>
    <aside>
        <ul>
        {% for p in collections[tags] %}
            <li {% if p.url == page.url %}aria-current="page" data-state="active"{% endif %}>
                <a class="page-link" href="{{ p.url | url }}">
                    <div>
                        <div class="title">{{  p.data.title }}</div>
                        <div class="difficulty">
                            {% if p.data.difficulty == "basic"%}
                                <img src="{{ '/_assets/red_pepper.svg' | url }}" alt="red pepper">
                            {% endif %}
                             {% if p.data.difficulty == "medium"%}
                                <img src="{{ '/_assets/red_pepper.svg' | url }}" alt="red pepper">
                                <img src="{{ '/_assets/red_pepper.svg' | url }}" alt="red pepper">
                            {% endif %}
                             {% if p.data.difficulty == "expert"%}
                                <img src="{{ '/_assets/red_pepper.svg' | url }}" alt="red pepper">
                                <img src="{{ '/_assets/red_pepper.svg' | url }}" alt="red pepper">
                                <img src="{{ '/_assets/red_pepper.svg' | url }}" alt="red pepper">
                            {% endif %}
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
        {% block prevnext %}{% endblock %}
        </ul>
    </aside>

    <div id="content">
        {{ content | safe }}
    </div>
</main>

<footer>
{% block footer %}
    <footer>
      © 2023 Deltion ICT - Software Development
      <a href="https://github.com/DeltionICT/codebase/blob/master/{{ page.inputPath }}">Bewerk deze pagina</a>
    </footer>
{% endblock %}
</footer>

</body>
</html>