{% extends "layout.njk" %}
{% block modules %}
<h1>Profielen</h1>
<div class="modules">
{% for p in learningpaths %}
    <a href="{{ '/learningpaths/' | url }}{{ p.key | slug }}/">
        <div>{{ p.name }}</div>
    </a>
{% endfor %}
</div>
{% endblock %}