{% extends "layout.njk" %}
{% block learningpaths %}
<h4 class="coursetitle">Learningpaths</h4>
<ul class="learningpaths">
{% for p in learningpaths %}
    <li><a href="{{ '/learningpath/' | url }}{{ p.key | slug }}/">{{ p.name }}</a></li>
{% endfor %}
</ul>
<h4 class="coursetitle">Learningpaths</h4>
<ul class="lp">
{% for lpitem in lp %}
    <li><a href="{{ '/lpitem/' | url }}{{ lpitem.key | slug }}/">{{ lpitem.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}