{% extends "layout.njk" %}
{% block aside %}
<aside id="right">
    <ul>
    {% set posts = collections.all | getPostsByKeys(module.assignments) %}
    {% for p in posts %}
    {% include "posts.njk" %}
    {% endfor %}
    </ul>
</aside>
{% endblock %}