{% extends "layout.njk" %}
{% block modules %}
<h4 class="coursetitle">Modules</h4>
<div class="modules">
{% for p in mods %}
    <a href="{{ '/mods/' | url }}{{ p.key | slug }}/">
        <div>{{ p.name }}</div>
    </a>
{% endfor %}
</div>
{% endblock %}