{% extends "layout.njk" %}
{% block modules %}
<h4 class="coursetitle">Modules</h4>
<ul class="modules">
{% for p in modules %}
    <li><a href="{{ '/module/' | url }}{{ p.key | slug }}/">{{ p.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}