{% extends "layout.njk" %}
{% block title %}
{% for p in collections[tags] %}
{% if p.url == page.url %}
    <h4>{{ p.data.coursetitle }}</h4>
    <div class="author">{{ p.data.author }}</div>

{% endif %}
{% endfor %}
{% endblock %}