@media only screen and (min-width: 1281px) {
    nav#smallnav {
        display:none;
    }

    aside {
        display:block;
    }
 
    div#mobile {
        display:block;
    }

}
@media only screen and (max-width: 1280px) {

    main {
        display:block;
    }

    nav#topnav {
        display:none;
    }
    
    a.hamburger {
        display:block;
    }

    aside, main>div#content {
        width: 80vw;
    }

    aside {
        display:none;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    nav#topnav {
        display:none;
    }

    nav#smallnav {
        margin: 1.1rem 0.5rem 0 0;
        padding: 1rem;
        width:80vw;
        text-align: left;
        border-radius: 4px;
    }
    
    nav#smallnav a {
        color:#fff;
        text-decoration: none;
        display:block;
        padding-left: 1rem;
        margin-bottom: 2px;
        border: 1px solid white;
        width:100%;
        border-radius: 4px;
        padding:3px 6px 3px 6px;
        background-color: var(--c-text);
    }

    nav#smallnav a:hover {
        color:var(--c-text);
        background-color:#fff;
        border: 1px solid  var(--c-text);
    }

    nav#smallnav a[aria-current] {
        color: var(--c-text);
        background-color: white;
        border: 1px solid  var(--c-text);
    }

    div#mobile {
        display:flex;
        flex-direction: row;
        padding-left: 1rem;
        /* margin-top: 1rem; */
    }

    pre {
        width: calc(80vw );
        max-width: calc(80vw - 2rem);
    }
}


@media only screen and (max-width: 480px) {
    header>div {
        width: 90vw;
    }

    #logo {
        margin-left:0;
    }
    aside, main>div#content {
        width: 90vw;
        padding: 1rem 0.5rem 0 0;
    }

    nav#smallnav {
        padding: 1rem 0 0 0;
    }

    main {
        width: 90vw;
    }

    div#mobile {
        display:flex;
        flex-direction: row;
        padding-left: 0rem;
        /* margin-top: 1rem; */
    }

    aside ul {
        margin-left:0;
        width: 60vw
    }

    pre {
        width: calc(90vw );
        max-width: calc(90vw - 2rem);
    }
}

