pre[class*="language-"] > code {
    overflow-x:scroll;
}

pre[class*="language-"] {
    z-index: -1;
    display:block;
    overflow-x:scroll;
    /*white-space: pre-wrap;*/
}

div.html {
    background-color: var(--c-bg);
    padding:16px;
    border-radius: 4px;
}

div.html table td, div.html table th {
    border:1px solid var(--c-text);
    padding: 4px;
}
div.html table {
    border-collapse:collapse;
}