h1, h2, h3 {
    font-weight: 700;
    color: var(--c-text-light-1);
}

h1 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom:3rem;
}

p, ul, ol {
    margin-bottom: 1rem;
}

ul, ol {
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

h4, h5 {
    font-size: 1rem;
    line-height: 1.2rem;
    display: inline-block;

}

h4.coursetitle {
    border-bottom:1px solid var(--c-brand);
    margin-top:0px;
    width:100%;
}

h5 {
    border:none;
}

a {
    color:var(--c-text);
}

nav {
    text-align:right;
}

a.nav-link {
    display: inline-block;
    border-radius:4px;
    padding:4px;
    margin-left:32px;
}

a.nav-link[aria-current] {
    color:#fff;
    background-color:var(--c-text);
}

a#logolink {
    display:block;
}


