---
layout: json.njk
title: api
date: 2023-01-10
permalink: "/api/index.json"
author: jsiewers
---
{% set labels = "key, difficulty, technology, author, date" %}
{% for p in collections.all | getOnlyPosts(labels) %}    { {% if p.data.key %}
        "key": {{ p.data.key }},{% endif %}
        "url":"{{ p.url | url }}",
        "title":"{{ p.data.title }}",{% if p.data.difficulty %}
        "difficulty":"{{ p.data.difficulty }}",{% endif %}{% if p.data.technology %}
        "technology":"{{ p.data.technology }}",{% endif %}{% if p.data.author %}
        "author":"{{ p.data.author }}",{% endif %}
        "date":"{{ p.data.date | date("YYYYMMDD") }}"
    }{% if loop.last %}{%- else -%},{% endif %}
{% endfor %}
