---
key: 1310
layout: layout.njk
title: Startpagina
difficulty: basic
date: 2023-01-10
pagination:
    data: lp
    size: 1
    alias: lpitem
permalink: "/lpitem/{{ lpitem.key | slug }}/index.html"
author: jsiewers
---

<h1>{{ lpitem.name }}</h1>
{% set posts = collections.all | getPostsByKeys(lpitem.assignments) %}
<ul>
{% for post in posts %}
	<li><a href="{{post.url | url }}">{{post.url}}</a></li>
{% endfor %}
</ul>
