---
layout: modules_aside.njk
title: Startpagina
difficulty: basic
date: 2023-01-10
pagination:
    data: mods
    size: 1
    alias: module
permalink: "/mods/{{ module.key | lower | slug }}/index.html"
author: jsiewers
---

<h1>{{ module.name }}</h1>
<h3>Omschrijving</h3>
<div class="description">
    {{ module.description }}
</div>
<h3>Informatie over deze module</h3>
<br>
<ul>
    <li>
        <b>Studiebelasting</b>
        <ul>
            <li>{{ module.sbu }} ( ± {{ (module.sbu/24) | round }} weken)</li>
        </ul>
    </li> 
    {%  set evcs =  module.evc | toArray() | getObj(mods) %}
    {% if evcs | length > 0  %}  
    <li>
        <b>Voorkennis</b>
        <ul>
            {% for c in evcs %}
                <li>{{ c.name }}</li>
            {% endfor %}
        </ul>      
    </li>
    {% else %}
    <li>
        <b>Geen voorkennis nodig</b>
    </li>
    {% endif %}

    </li>
    {%  set subs =  module.subjects | toArray() | getObj(technologies) %}
    {% if subs | length > 0  %}  
    <li>
        <b>Onderwerpen</b>
        <ul>
            {% for s in subs %}
                <li>{{ s.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {%  set cs =  module.crebos | toArray() | getObj(crebos) %}
    {% if cs | length > 0  %}  
    <li>
        <b>Keuzedeel voor opleidingen</b>
        <ul>
            {% for c in cs %}
                <li>{{ c.key }} - {{ c.description }}</li>
            {% endfor %}
        </ul>      
    </li>
    {% else %}
    <li>
        <b>Basisdeel voor opleiding</b>
        <ul>
            <li>Software development</li>
        </ul>
    </li>
    {% endif %}
</ul>
<h3>Links</h3>
<ul>
    <li><a href="{{ module.sbb }}">Informatie over deze kwalificatie op s-bb.nl</a></li>
    {% for l in module.coursematerials %}
    <li><a href="{{ l.url }}">{{ l.description }}</a></li>
    {% endfor %}
</ul>
<h2>Leerlijn</h2>
<br>
<div class="assignments">
    {% set posts = collections.all | getAssignments(module.assignments) %}
    {% for key, value in posts %}
    <h4>{{ key }}</h4>
    <ul>
        {% for v in value %}
            <li>{{v.data.key}} | <a href="{{ v.url | url }}">{{v.data.title}}</a></li>
        {% endfor%}
    </ul>
    {% endfor %}
</div>
