---
layout: layout.njk
title: Startpagina
difficulty: basic
date: 2023-01-10
pagination:
    data: modules
    size: 1
    alias: module
permalink: "/module/{{ module.key | slug }}/index.html"
author: jsiewers
---

<h1>{{ module.name }}</h1>
<a href="{{ module.sbb }}">SBB</a>
<div class="description">
    {{ module.description }}
</div>
<ul>
    <li>Studiebelasting: {{ module.sbu }} ( ± {{ (module.sbu)/24 }} weken)</li>
    {%  set evcs =  module.evc | toArray() | getObj(modules) %}
    {% if evcs | length > 0  %}  
    <li>
        Voorkennis
        <ul>
            {% for c in evcs %}
                <li>{{ c.name }}</li>
            {% endfor %}
        </ul>      
    </li>
    {% else %}
    <li>Geen voorkennis nodig</li>
    {% endif %}

    </li>
    {%  set subs =  module.subjects | toArray() | getObj(technologies) %}
    {% if subs | length > 0  %}  
    <li>
        Onderwerpen
        <ul>
            {% for s in subs %}
                <li>{{ s.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {%  set cs =  module.crebos | toArray() | getObj(crebos) %}
    {% if cs | length > 0  %}  
    <li>
        Opleidingen
        <ul>
            {% for c in cs %}
                <li>{{ c.key }} - {{ c.description }}</li>
            {% endfor %}
        </ul>      
    </li>
    {% else %}
    <li>Geen gekoppelde opleidingen</li>
    {% endif %}
</ul>

{% set posts = collections.all | getPostsByKeys(module.assignments) %}
<ul>
{% for post in posts %}
	<li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a> 
    </li>
{% endfor %}

</ul>
