---
key: 1310
layout: layout.njk
title: Startpagina
difficulty: basic
date: 2023-01-10
pagination:
    data: modules
    size: 1
    alias: module
permalink: "/module/{{ module.key | slug }}/index.html"
author: jsiewers
---

<h1>{{ module.name }}</h1>
<a href="{{ module.sbb }}">SBB</a>
<div class="description">
    {{ module.description }}
</div>
<ul>
    <li>sbu: {{ module.sbu }}</li>
    <li>evc: {{ module.evc }}</li>
    <li>subjects: {{ module.subjects }}</li>
    <li>
        Gekoppelde opleidingen
        <ul>
            {%  set quals =  module.gekoppelde_kwalificaties | toArray() %}
            {%  set cs = quals | getObj(crebos) %}
            {% for c in cs %}
                <li>{{ c.key }} - {{ c.description }}</li>
            {% endfor %}
        </ul>
    </li>


</ul>

{% set posts = collections.all | getPostsByKeys(module.assignments) %}
<ul>
{% for post in posts %}
	<li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a> 
    </li>
{% endfor %}

</ul>
