---
title: More
layout: layout.njk
---
<h1>More...</h1>

<ul>
    <li><a href="{{'/authors/' | url }}">Auteurs</a></li>
    <li><a href="{{'/technologies/' | url }}">Technologie</a></li>
    <li><a href="{{'/modules/' | url }}">Modules</a></li>
</ul>
