---
layout: json.njk
title: api
date: 2023-01-10
permalink: "/newkey/index.html"
author: jsiewers
---
{% set labels = "key, difficulty, technology, author, date" %}
{% set mykey = collections.all | getOnlyPosts(labels) | getNewKey() %} 
{{ mykey }}